node_modules
.idea
.run
# astro cache
.astro
dist

#https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
# not a zero install, we don't want the cache files
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# firebase local cache
.firebase
ui-debug.log

# build
dist